/* ------------------------------------------- */
/* ABOUT US | SECTION | HOME PAGE
/* ------------------------------------------- */

.section-about {

    grid-column: center-start / center-end;

    // GRID SETUP \\
    display: grid;

    &__heading {
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    &__text {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2.5rem;
        text-align: center;
        padding: 0 5rem;
    }
}

/* ------------------------------------------- */
/* PLACES OF INTEREST | SECTION | HOME PAGE
/* ------------------------------------------- */

.section-poi {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));

}

/* ----------------------------------------------------- */
/* MISCELLANEOUS PLACES OF INTEREST | SECTION | HOME PAGE
/* ----------------------------------------------------- */

.section-m-poi {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}

/* ----------------------------------------------------- */
/* NYC QUOTE | SECTION | HOME PAGE
/* ----------------------------------------------------- */

/*.container-7 {
    display: grid;
    grid-template-rows: 60vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
} */

.section-quote {

    display: grid;
    grid-template-rows: repeat(6, 5vw);
    grid-template-columns: repeat(24, 5vw);

    &__text {
        font-weight: 300;
        font-size: 3.6rem;

        // GRID SETUP \\
        display: grid;
        grid-row: 2 / 3;
        grid-column: 4 / 20;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 2 / 21;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }
    }

    &__name {
        font-weight: 300;
        font-family: 'Josefin Sans';

        // GRID SETUP \\
        display: grid;
        grid-row: 3 / 4;
        grid-column: 18 / 21;
        font-size: 1.8rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-medium) {
            grid-row: 5 / 6;
            grid-column: 2 / 5;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.3rem;
            grid-column: 10 / 14;
        }
    }

    &__img {
        overflow: hidden;

        // GRID SETUP \\
        display: grid;
        grid-row: 4 / 9;
        grid-column: 14 / -1;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) {
            max-width: 200%;
            max-height: 200%;
            grid-column: 1 / -1;
        }
    }
}