/* ------------------------------------------- */
/* BUTTON TEXT | ABOUT US
/* ------------------------------------------- */

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary-light;
        padding: .3rem;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

    // * --- MEDIA QUERIES --- * \\
    @include respond(phone) {
        position: absolute;
        top: 0;
        left: 1rem;
    }
}

/* ------------------------------------------- */
/* BUTTON EXPLORE | HEADER
/* ------------------------------------------- */

.btn {
    position: relative;
    display: inline-block;
    color: $color-white;
    font-size: 1.4rem;
    font-family: 'Josefin Sans';
    text-decoration: none;
    margin: 3rem 0;
    border: .2rem solid $color-primary;
    padding: 1.5rem 6rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 1s ease;
}

.btn::before {
    content: "";
    background: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease;
    z-index: -1;
}

// * --- BUTTON EXPLORE --- * \\
.btn-explore::before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-explore:hover::before {
   height: 360%;
}