/* ------------------------------------------- */
/* TESTIMONIALS
/* ------------------------------------------- */

.container-5 {
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-large) {
        margin-bottom: -20rem;
    }

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: -50rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 110rem;
    }

    @media only screen and (max-width: $bp-vsmall-1) {
        margin-bottom: 80rem;
    }

    @media only screen and (max-width: $bp-vsmall-1b) {
        margin-bottom: 65rem;
    }

    @media only screen and (max-width: $bp-vsmall-2) {
        margin-bottom: 55rem;
    }
}

.block {

    display: grid;
    justify-content: start;
    grid-column-gap: 6rem;
    grid-template-rows: repeat(6, 5vw);
    grid-template-columns: repeat(22, 1fr);

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(48, 5vw);
    }

    & > * {
        font-family: 'Josefin Sans';
        font-weight: 300;
        text-align: center;
    }

    &--1 {
        display: grid;
        grid-row: 1 / 4;
        grid-column: 4 / 10;
        justify-self: center;
        align-self: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 3 / 9;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 2 / 8;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 2 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 5 / 10;
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--2 {
        display: grid;
        grid-row: 1 / 4;
        grid-column: 9 / 15;

        background-image: url(../images/user-2.jpeg);
        background-size: cover;
        background-position: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 8 / 14;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 7 / 13;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 5 / 10;
        }

        @media only screen and (max-width: $bp-small) {
            grid-row: 4 / 11;
            grid-column: 4 / 11;
            box-shadow: 0rem .3rem 2rem rgba($color-black, .30);
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--3 {
        display: grid;
        grid-row: 1 / 4;
        grid-column: 14 / 20;
        justify-self: center;
        align-self: center;

        padding: 0 1.5rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 13 / 19;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 12 / 18;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 9 / 14;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 5 / 10;
            grid-row: 12 / 15;
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--4 {
        display: grid;
        grid-row: 1 / 4;
        grid-column: 19 / 25;

        background-image: url(../images/user-1.jpeg);
        background-size: cover;
        background-position: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 18 / 24;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 17 / 23;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 13 / 18;
        }

        @media only screen and (max-width: $bp-small) {
            grid-row: 16 / 23;
            grid-column: 4 / 11;
            box-shadow: 0rem .3rem 2rem rgba($color-black, .30);
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--5 {
        display: grid;
        grid-row: 4 / 7;
        grid-column: 4 / 10;

        background-image: url(../images/user-3.jpeg);
        background-size: cover;
        background-position: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 3 / 9;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 2 / 8;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 2 / 6;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 4 / 11;
            grid-row: 29 / 36;
            box-shadow: 0rem .3rem 2rem rgba($color-black, .30);
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--6 {
        display: grid;
        grid-row: 4 / 7;
        grid-column: 9 / 15;
        justify-self: center;
        align-self: center;

        padding: 0 1.5rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 8 / 14;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 7 / 13;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 5 / 10;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 5 / 10;
            grid-row: 23 / 30;
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--7 {
        display: grid;
        grid-row: 4 / 7;
        grid-column: 14 / 20;

        background-image: url(../images/user-4.jpeg);
        background-size: cover;
        background-position: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 13 / 19;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 12 / 18;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 9 / 14;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 4 / 11;
            grid-row: 42 / 49;
            box-shadow: 0rem .3rem 2rem rgba($color-black, .30);
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }

    &--8 {
        display: grid;
        grid-row: 4 / 7;
        grid-column: 19 / 25;
        justify-self: center;
        align-self: center;

        padding: 0 1.5rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            grid-column: 18 / 24;
        }

        @media only screen and (max-width: $bp-largest) {
            grid-column: 17 / 23;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 13 / 18;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 5 / 10;
            grid-row: 37 / 41;
        }

        @media only screen and (max-width: $bp-vsmall-1) {
            grid-column: 4 / 9;
        }

        @media only screen and (max-width: $bp-vsmall-2) {
            grid-column: 3 / 8;
        }

        @media only screen and (max-width: $bp-vsmall-3) {
            grid-column: 2 / 8;
        }
    }
}