/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */

.container-1 {
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
}

.header {
    
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-primary-light, .63), rgba($color-primary-dark, .83)), url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20vh;
    z-index: 2; // Z-INDEX NEEDED IN ORDER FOR BUTTON TO WORK

    // GRID SETUP \\
    display: grid;
    grid-row-gap: 1.5rem;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-medium) {      
        grid-column: 1 / -1;        
    }

    @media only screen and (max-width: $bp-small) {    
        padding: 5rem;    
    }

    &__heading {
        color: $color-white;
        font-size: 7.5rem;
        font-weight: 300;
        font-family: 'Josefin Sans';
        text-transform: uppercase;
        text-align: center;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) {
            font-size: 4.5rem;
        }
    }

    &__button {
        justify-self: center;
        margin-left: 2.5rem;
    }
}